    /*
    Flaticon icon font: Flaticon
    Creation date: 22/08/2018 08:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-dog:before { content: "\f100"; }
.flaticon-002-dog-house:before { content: "\f101"; }
.flaticon-003-cat:before { content: "\f102"; }
.flaticon-004-dog-food:before { content: "\f103"; }
.flaticon-005-pet-food:before { content: "\f104"; }
.flaticon-006-collar:before { content: "\f105"; }
.flaticon-007-first-aid-kit:before { content: "\f106"; }
.flaticon-008-vaccine:before { content: "\f107"; }
.flaticon-009-medicine:before { content: "\f108"; }
.flaticon-010-bird-cage:before { content: "\f109"; }
.flaticon-011-bird:before { content: "\f10a"; }
.flaticon-012-cage:before { content: "\f10b"; }
.flaticon-013-health:before { content: "\f10c"; }
.flaticon-014-health-report:before { content: "\f10d"; }
.flaticon-015-fish-bowl:before { content: "\f10e"; }
.flaticon-016-doctor:before { content: "\f10f"; }
.flaticon-017-bird-house:before { content: "\f110"; }
.flaticon-018-poop:before { content: "\f111"; }
.flaticon-019-hamster-wheel:before { content: "\f112"; }
.flaticon-020-hamster:before { content: "\f113"; }
.flaticon-021-dog-1:before { content: "\f114"; }
.flaticon-022-stethoscope:before { content: "\f115"; }
.flaticon-023-sterilization:before { content: "\f116"; }
.flaticon-024-brush:before { content: "\f117"; }
.flaticon-025-bunny:before { content: "\f118"; }
.flaticon-026-saline:before { content: "\f119"; }
.flaticon-027-microscope:before { content: "\f11a"; }
.flaticon-028-wound:before { content: "\f11b"; }
.flaticon-029-lab:before { content: "\f11c"; }
.flaticon-030-weighing:before { content: "\f11d"; }
.flaticon-031-bandages:before { content: "\f11e"; }
.flaticon-032-antiseptic:before { content: "\f11f"; }
.flaticon-033-pet:before { content: "\f120"; }
.flaticon-034-thermometer:before { content: "\f121"; }
.flaticon-035-files-and-folders:before { content: "\f122"; }
.flaticon-036-bug-spray:before { content: "\f123"; }
.flaticon-037-bones:before { content: "\f124"; }
.flaticon-038-dermathology:before { content: "\f125"; }
.flaticon-039-flea:before { content: "\f126"; }
.flaticon-040-dog-2:before { content: "\f127"; }
.flaticon-041-eyedropper:before { content: "\f128"; }
.flaticon-042-pet-1:before { content: "\f129"; }
.flaticon-043-grooming:before { content: "\f12a"; }
.flaticon-044-turtle:before { content: "\f12b"; }
.flaticon-045-veterinarian:before { content: "\f12c"; }
.flaticon-046-pet-shop:before { content: "\f12d"; }
.flaticon-047-dog-3:before { content: "\f12e"; }
.flaticon-048-animal:before { content: "\f12f"; }
.flaticon-049-pet-2:before { content: "\f130"; }
.flaticon-050-stretcher:before { content: "\f131"; }
    
    $font-Flaticon-001-dog: "\f100";
    $font-Flaticon-002-dog-house: "\f101";
    $font-Flaticon-003-cat: "\f102";
    $font-Flaticon-004-dog-food: "\f103";
    $font-Flaticon-005-pet-food: "\f104";
    $font-Flaticon-006-collar: "\f105";
    $font-Flaticon-007-first-aid-kit: "\f106";
    $font-Flaticon-008-vaccine: "\f107";
    $font-Flaticon-009-medicine: "\f108";
    $font-Flaticon-010-bird-cage: "\f109";
    $font-Flaticon-011-bird: "\f10a";
    $font-Flaticon-012-cage: "\f10b";
    $font-Flaticon-013-health: "\f10c";
    $font-Flaticon-014-health-report: "\f10d";
    $font-Flaticon-015-fish-bowl: "\f10e";
    $font-Flaticon-016-doctor: "\f10f";
    $font-Flaticon-017-bird-house: "\f110";
    $font-Flaticon-018-poop: "\f111";
    $font-Flaticon-019-hamster-wheel: "\f112";
    $font-Flaticon-020-hamster: "\f113";
    $font-Flaticon-021-dog-1: "\f114";
    $font-Flaticon-022-stethoscope: "\f115";
    $font-Flaticon-023-sterilization: "\f116";
    $font-Flaticon-024-brush: "\f117";
    $font-Flaticon-025-bunny: "\f118";
    $font-Flaticon-026-saline: "\f119";
    $font-Flaticon-027-microscope: "\f11a";
    $font-Flaticon-028-wound: "\f11b";
    $font-Flaticon-029-lab: "\f11c";
    $font-Flaticon-030-weighing: "\f11d";
    $font-Flaticon-031-bandages: "\f11e";
    $font-Flaticon-032-antiseptic: "\f11f";
    $font-Flaticon-033-pet: "\f120";
    $font-Flaticon-034-thermometer: "\f121";
    $font-Flaticon-035-files-and-folders: "\f122";
    $font-Flaticon-036-bug-spray: "\f123";
    $font-Flaticon-037-bones: "\f124";
    $font-Flaticon-038-dermathology: "\f125";
    $font-Flaticon-039-flea: "\f126";
    $font-Flaticon-040-dog-2: "\f127";
    $font-Flaticon-041-eyedropper: "\f128";
    $font-Flaticon-042-pet-1: "\f129";
    $font-Flaticon-043-grooming: "\f12a";
    $font-Flaticon-044-turtle: "\f12b";
    $font-Flaticon-045-veterinarian: "\f12c";
    $font-Flaticon-046-pet-shop: "\f12d";
    $font-Flaticon-047-dog-3: "\f12e";
    $font-Flaticon-048-animal: "\f12f";
    $font-Flaticon-049-pet-2: "\f130";
    $font-Flaticon-050-stretcher: "\f131";